<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body class='theme-base-0b'>
    <header class="masthead">
      <div class="masthead-inner">
        <h1><a href="/">{{ site.title }}</a></h1>
        <p class="lead">{{ site.description }}</p>
        <p>

<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="http://maptimeslc.us8.list-manage.com/subscribe/post?u=580c975f0cc9d67f2902d47dd&amp;id=a4087728b1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  
<div class="mc-field-group">
  <label for="mce-EMAIL">Enter your email address below and we'll let you know what's going on!</label>
  <input type="email" placeholder="Email address" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_580c975f0cc9d67f2902d47dd_a4087728b1" value=""></div>
  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>

<!--End mc_embed_signup-->
      </p>
        <div class="colophon">
          <p>&copy; 2014. {{ site.author.name }} All rights reserved.</p>
        </div>
      </div>
    </header>

    <div class="content container">
      {{ content }}
    </div>

  </body>
</html>
